*{box-sizing: border-box; padding: 0%; margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&display=swap');

:root{
    --red: #e34c5b;
    --green: #47866b;
    --black: #000000;
    --white: #ffffff;
    --grey: #cccccc;
    --orange: rgba(255, 123, 0, 0.734);
    --font-indie: font-family: 'Indie Flower', cursive;
    --font-poppins: font-family: 'Poppins', sans-serif;
}
body{font-family: 'Indie Flower', cursive;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#container{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./img/bg2.jpg) no-repeat center/cover;
    gap: 15px;
}
h2{
    font-weight: 900;
    font-size: 45px;
    max-width: 500px;
    text-shadow: black 0px 0px 5px;
    margin: 0 auto;
    /* text-shadow:
    0 0 100px #fff,
    0 0 90px rgb(0, 0, 0),
    0 0 80px rgb(0, 0, 0),
    0 0 5px #0fa,
    0 0 50px #0fa,
    0 0 0px #0fa,
    0 0 100px #0fa,
    0 0 100px #0fa; */
    }

p{
    font-weight: 700;
    font-size: 20px;
    padding-top: 15px;
    max-width: 900px;
    text-shadow: black 0px 0px 5px;
}
p span{
    color: rgb(255, 123, 0);
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;}
.card, .errores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-radius: 10px;
    background: #57323294;
    box-shadow: inset 34px 34px 59px #45282876,
                inset -34px -34px 59px #693d3d70;
    padding: 10px 15px;
}
.errores{
    background: #bb1313c0;

}
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.nombre{
    color: var(--white);
    font-weight: 800;
    font-size: 35px;
    text-shadow: black 0px 0px 5px;
}
.imagen{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 300px;
    width: auto;
    margin: 0 auto;
}
.ingredientes{
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    text-shadow: black 0px 0px 5px;
}
.precio{
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    text-shadow: black 0px 0px 5px;
}
#input, .button{
    border: none;
    outline: none;
    width: 140px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 2px;
    padding: 5px 10px;
    font-family: var(--font-poppins);
    background:var(--orange) ;
}
#input::placeholder{
    color: white;
}
.button{
    width: 125px;
    cursor: pointer;
    border-radius: 2px;
    background: #02d77b;
    color: var(--white);
}
.button:hover{
color: var(--black);
background: var(--red);
transition: all 0.5s linear;
}
.vacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input__vacio, .error{
    text-shadow: black 0px 0px 5px;
}

@media (max-width: 768px){
    p{
        max-width: 600px;
    }
}
@media(max-width: 576px){
    h2{
        max-width:300px;
    }
    p{
        max-width: 300px;
    }
}